/* Основные стили для всей страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; /* Выбран цвет фона */
    color: #333;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

/* Контейнер для контента с фиксированной шириной */
.container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #b8a234;
    padding: 20px;
}

/* Стили для заголовков */
h1 {
    font-size: 2.5em;
    text-align: center;
    color: #2c3e50;
}

h2 {
    font-size: 2em;
    color: #2980b9;
    margin-top: 30px;
}

h3 {
    font-size: 1.75em;
    color: #ff1700;
    margin-top: 20px;
}

#film1{
    font-family: "a CopperGothCmUpOtl.ttf";
}

#film2{
    font-family: "Cakra.ttf";
}

#film3{
    font-family: "Kaph";
}

/* Стили для списка фильмов */
ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

ul li a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #000; /* Ссылки черного цвета */
}

ul li a:hover {
    text-decoration: underline;
}

/* Стили для изображений */
img {
    width: 450px; /* Фиксированная ширина всех изображений */
    height: 300px; /* Фиксированная высота для одинакового размера */
    margin: 10px;
    border-radius: 12px; /* Радиус закругления */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Контейнер для выравнивания изображений по горизонтали */
.image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Таблица с параметрами фильмов */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Выровненный по центру текст описания */
.description-center {
    text-align: center;
    font-family: "a CopperGothCmUpOtl.ttf";

}


/* Выровненный по ширине текст описания */
.description-justify {
    text-align: justify;
    font-family: "Cakra.ttf";
}

/* Жирный текст с использованием разных способов */
.bold-text {
    font-weight: bold;
    font-family: "Kaph";
    text-align: right;

}

.bold-tag {
    font-weight: 700;
}

.bold-b {
    font-weight: normal;
}

.bold-strong {
    font-weight: normal;
}

@font-face {
    font-family: "a CopperGothCmUpOtl.ttf";
    src: url("fonts/a CopperGothCmUpOtl.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Kaph";
    src: url("fonts/Kaph.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Cakra.ttf";
    src: url("fonts/Cakra.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
